.contentAll{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    height: 7%;
    background: purple;
    span{
        color: white;
        font-weight: 600;
        font-size: x-large;
    }
    label{
        color: white;
    }
}

.spacer{
    flex: 1 1;
}

.content{
    background: #232323;
    height: 93%;
}